<!DOCTYPE html>
<html>
  <title>ToDo App with GO</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <body>
    <header class="w3-container w3-teal">
      <h1>ToDo App with GO</h1>
    </header>

    <div class="w3-container w3-half w3-margin-top">
      <form class="w3-container w3-card-4" action="/task/add" method="POST">
        <p>
          <label>Title</label>
          <input
            class="w3-input w3-border"
            type="text"
            name="title"
            style="width: 90%"
            required
          />
        </p>
        <p></p>
          <label>Description</label>
          <input
            class="w3-input w3-border"
            type="text"
            name="description"
            style="width: 90%"
            required
          />
        </p>
        <p>
          <button type="submit" class="w3-button w3-section w3-teal w3-ripple">
            Save
          </button>
        </p>
      </form>
    </div>

    <div class="w3-container w3-half w3-margin-top">
      <ul class="w3-ul w3-border w3-xlarge">
        <li><h2>List</h2></li>
        {{range .Tasks}}
        <li>
          <span
            >
            
            {{.Title}}
            <br>
            <span style="font-size: 12px;">{{.Description}}</span>
            
            {{if .Completed}}
            <span class="w3-tag w3-small w3-green">Completed</span> {{else}}
            <span class="w3-tag w3-small w3-red">Pending</span> {{end}}</span
          >
          <form
            action="/task/complete/{{.ID}}"
            method="POST"
            style="display: inline"
          >
            {{if not .Completed}}
            <button type="submit" class="w3-tiny w3-right w3-button w3-blue">
              Complete
            </button>
            {{end}}
          </form>
          <form action="/task/delete/{{.ID}}" method="POST" style="display: inline">
            <button type="submit" class="w3-tiny w3-right w3-button w3-red">
              Delete
            </button>
          </form>
        </li>
        {{end}}
      </ul>
    </div>
  </body>
</html>
